{{ $projectId := trim .Title "." | urlize }}
<div class="portfolio-item category-print uk-padding-large">
    <div class="uk-container">
        <div class="uk-grid-collapse uk-child-width-1-1 uk-child-width-1-2@m  uk-child-width-1-1@s" data-uk-grid>
            <!-- TODO: Alternate columns for each row -->
            {{ $isLeft := modBool 1 2 }}
            {{ if $isLeft }}
                {{ partial "projects/summary-promo" . }}
                {{ if eq .Params.has_image true }}
                    {{ partial "projects/summary-single-image" (dict "context" . "projectId" $projectId) }}
                {{ end }}
            {{ else }}
                {{ if eq .Params.has_image true }}
                    {{ partial "projects/summary-single-image" (dict "context" . "projectId" $projectId) }}
                {{ end }}
                {{ partial "projects/summary-promo" . }}
            {{ end }}
        </div>
    </div>
</div>
