{{ define "body" }}
<section class="uk-section uk-section-blog">
    <div class="uk-container">

        <div data-uk-grid>

            <div class="content-area uk-width-expand">

                <article class="single post">
                    <div class="entry-post">
                            <h2 class="entry-title">{{ .Title }}</h2>
                            <div class="entry-date tw-meta">
                                <span>{{ .Date.Format "2 January 2006" }}</span>
                            </div>
                            <div class="entry-cats tw-meta">
                                {{ $numberOfCategories := len .Params.categories }}
                                {{ range $index, $item := .Params.categories }}
                                    <a href="/categories/{{ . | urlize }}/" title="View all posts in {{ . | lower }}">{{ . }}</a>
                                    {{ if ne (add $index 1) $numberOfCategories }}/{{ end }}
                                {{ end }}
                            </div>
                        <div class="entry-media">
                            <div class="tw-thumbnail">
                                <img src="/images/blog/main/{{ .Params.image.name }}" alt="{{ .Params.image.alt }}" />
                                {{ with .Params.image.credit }}
                                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small">
                                    <p>{{ . | safeHTML }}</p>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                        <div class="entry-content uk-text-justify">{{ .Content }}</div>
                        {{ partial "contact-cta" . }}
                    </div>
                </article>

                {{ partial "blog/author" . }}
            </div>

            {{ partial "blog/sidebar" . }}
        </div>
    </div>
</section>
{{ end }}
