<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<meta name="description" content="Site Description Here">-->
        <!--<link rel="shortcut icon" href="assets/images/favicon.png">-->

        <title>{{ block "title" . }}
            {{- .Site.Title -}}
        {{ end }}</title>

        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/uikit.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" media="all" />
        <!--<link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all" />-->
        <!--<link href="assets/css/animations.css" rel="stylesheet" type="text/css" media="all" />-->
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/responsive.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700%7CLora:400,400i%7CShadows+Into+Light:400" rel="stylesheet" />
    </head>
<body>
    {{ partial "navigation" . }}

    <div class="main-container">
        {{ if not .IsHome }}
            {{ partial "header" . }}
        {{ end }}
        {{ block "body" . }}{{ end }}
    </div>

    {{ partial "footer" . }}
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script src="/js/theme.js"></script>
</body>
