<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<meta name="description" content="Site Description Here">-->
        <!--<link rel="shortcut icon" href="assets/images/favicon.png">-->

        {{ if .IsHome }}
            <title>{{ .Site.Title }}</title>
        {{ else }}
        <title>{{ block "title" . }}{{ .Title }}{{ end }} &middot; {{ .Site.Title }}</title>
        {{ end }}

        <link href="/css/uikit.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" media="all" />
        <!--<link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all" />-->
        <!--<link href="assets/css/animations.css" rel="stylesheet" type="text/css" media="all" />-->
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/responsive.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700%7CLora:400,400" rel="stylesheet" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=5AeeWXOBlQ">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=5AeeWXOBlQ">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=5AeeWXOBlQ">
        <link rel="manifest" href="/manifest.json?v=5AeeWXOBlQ">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=5AeeWXOBlQ" color="#f55f2c">
        <link rel="shortcut icon" href="/favicon.ico?v=5AeeWXOBlQ">
        <meta name="theme-color" content="#ffffff">
    </head>
<body>
    {{ partial "navigation" . }}

    <div class="main-container">
        <!-- Don't display header for home or 404 pages -->
        {{ if and (not .IsHome) (ne .Kind "404") }}
            {{ $directory := "static/images/header/" }}
            {{ $filename := add .Type ".jpg" }}

            {{ if (where (readDir $directory) "Name" $filename) }}
                {{ $.Scratch.Add "filename" $filename }}
            {{ else }}
                {{ $.Scratch.Add "filename" "default.jpg" }}
            {{ end }}

            {{ $path := add "/images/header/" ($.Scratch.Get "filename") }}
            <section class="uk-section uk-text-center uk-flex uk-flex-middle uk-flex-center uk-light uk-background-cover uk-background-top-center"
                data-overlay="0.4"
                style="background-color: #151515; background-image: url({{ $path }}); height: 500px;"
                >
                <div class="tw-page-title-container tw-element">
                    <h1 class="tw-page-title uk-text-uppercase">{{ block "header-title" . }}{{ .Title }}{{ end }}</h1>
                </div>
                <div class="tw-breadcrumb-container uk-position-absolute uk-position-bottom-center tw-element">
                    <a href="/" class="tw-breadrumb-child home">Home</a>
                    {{ if and (eq .Type "blog") (eq .Kind "page") }}
                        <a href="/blog/" class="tw-breadrumb-child home">Blog</a>
                    {{ end }}
                    <a class="tw-breadrumb-child">{{ block "breadcrumb-title" . }}{{ .Title }}{{ end }}</a>
                </div>
            </section>
            {{ end }}
        {{ block "body" . }}{{ end }}
    </div>

    {{ partial "footer" . }}
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <script src="/js/theme.js"></script>
</body>
