<footer class="uk-section uk-padding-remove-vertical uk-light" style="background-color: #222222;">
    <div class="bottom-area">
        <div class="uk-container">
            <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-medium" data-uk-grid data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200;">
                <div>
                    <div class="widget">
                        <div class="tw-logo">
                            <h3 class="site-name">
                                <a href="/">little robot</a>
                            </h3>
                        </div>
                        <div class="tw-socials">
                            <a href="https://www.linkedin.com/in/stuartrchapman/"><i class="ion-social-linkedin"></i></a>
                            <a href="/blog/index.xml"><i class="ion-social-rss"></i></a>
                        </div>
                    </div>
                </div>

                <!-- <div>
                    <div class="uk-padding-left">
                        <div class="widget widget_recent_entries">
                            <h3 class="widget-title"><span>Popular Posts</span></h3>
                            <ul>
                                <li>
                                    <a href="#">Suspendisse vulputate diam</a>
                                    <span class="tw-meta">January 22, 2017</span>
                                </li>
                                <li>
                                    <a href="#">Facilisis Nulla Elementum</a>
                                    <span class="tw-meta">January 22, 2017</span>
                                </li>
                                <li>
                                    <a href="#">Mauris pharetra interdum</a>
                                    <span class="tw-meta">January 22, 2017</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <div class="widget">
                    <div class="uk-padding-left">
                        <h3 class="widget-title"><span>Links</span></h3>
                        <ul>
                            <li>
                                <a href="/about/">About</a>
                            </li>
                            <li>
                                <a href="/for-businesses/">For businesses</a>
                            </li>
                            <li>
                                <a href="/for-teams/">For teams</a>
                            </li>
                            <li>
                                <a href="/projects/">Projects</a>
                            </li>
                            <li>
                                <a href="/blog/">Blog</a>
                            </li>
                            <li>
                                <a href="/contact/">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <div class="widget tw-contact-widget">
                        <h3 class="widget-title"><span>Get in touch</span></h3>
                        <ul>
                            <li>
                                <i class="ion-location"></i>
                                little robot Limited, International House, 24 Holborn Viaduct, London, EC1A 2BN
                            </li>
                            <li>
                                <i class="ion-email"></i>
                                hello@littlerobot.io
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-area footer-small">
        <div class="uk-container">
            <div class="uk-flex-middle uk-child-width-1-1 uk-child-width-expand@m" data-uk-grid>
                <div class="copyright">
                    Copyright © 2017 little robot Limited &middot; Registered in England and Wales with company number 08923395
                </div>
                <div class="uk-text-right">
                    <a href="#" data-uk-scroll>Back To Top &nbsp;&nbsp;<i class="ion-ios-arrow-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
