{{ $directory := "static/images/header/" }}
{{ $filename := add .Type ".jpg" }}

{{ if (where (readDir $directory) "Name" $filename) }}
    {{ $.Scratch.Add "filename" $filename }}
{{ else }}
    {{ $.Scratch.Add "filename" "default.jpg" }}
{{ end }}

{{ $path := add "/images/header/" ($.Scratch.Get "filename") }}
<section class="uk-section uk-text-center uk-flex uk-flex-middle uk-flex-center uk-light uk-background-cover uk-background-top-center"
    data-overlay="0.4"
    style="background-color: #151515; background-image: url({{ $path }}); height: 500px;"
    >
    <div class="tw-page-title-container tw-element">
        <h1 class="tw-page-title uk-text-uppercase">{{ .Title }}</h1>
    </div>
    <div class="tw-breadcrumb-container uk-position-absolute uk-position-bottom-center tw-element">
        <a href="/" class="tw-breadrumb-child home">Home</a>
        <a href="#" class="tw-breadrumb-child">{{ .Title }}</a>
    </div>
</section>
