<div class="header-container tw-header tw-header-minimal">
    <nav class="uk-navbar-container uk-flex-center" data-uk-navbar>
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo" href="/">
                <img src="/images/logo/header-logo.png" alt="little robot" srcset="/images/logo/header-logo@2x.png 2x" />
            </a>
            <ul class="tw-main-menu uk-visible@m">
                <li class="menu-item">
                    <a href="/">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/for-businesses/">For businesses</a>
                </li>
                <li class="menu-item">
                    <a href="/for-teams/">For teams</a>
                </li>
                <li class="menu-item">
                    <a href="/projects/">Projects</a>
                </li>
                <li class="menu-item">
                    <a href="/blog/">Blog</a>
                </li>
                <li class="menu-item">
                    <a href="/about-me/">About Me</a>
                </li>
                <li class="menu-item">
                    <a href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
