{{ if .IsHome }}
<div class="header-container tw-header tw-header-transparent uk-dark">
{{ else }}
<div class="header-container tw-header tw-header-transparent uk-light">
{{ end }}
    <nav class="uk-navbar-container uk-flex-center uk-navbar" data-uk-navbar>
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo" href="/">
                <img src="/images/logo/header-logo.png" alt="little robot" srcset="/images/logo/header-logo@2x.png 2x" />
            </a>
            <ul class="tw-main-menu uk-visible@m">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="menu-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}uk-active{{ end }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="uk-navbar-right">
            <div class="tw-meta">
                <a class="mobile-menu uk-navbar-toggle uk-hidden@m" href="#" data-uk-toggle="target: #mobile-menu-modal"><i class="ion-navicon-round"></i></a>
                <div id="mobile-menu-modal" class="uk-modal-full" data-uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-full" type="button" data-uk-close></button>
                        <div class="uk-light uk-height-viewport tw-mobile-modal uk-flex uk-flex-middle uk-flex-center" data-uk-scrollspy="target:>ul>li,>div>a; cls:uk-animation-slide-bottom-medium; delay: 150;">
                            <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
                                {{ range .Site.Menus.main }}
                                <li>
                                    <a href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
