{{ define "body" }}
<section class="uk-section uk-position-relative uk-text-center uk-flex uk-flex-middle uk-flex-center uk-light page-error" style="background-color: #151515;">
    <div class="tw-section-overlay uk-overlay-default uk-position-cover uk-background-cover uk-background-center-center" style="background-image: url(/images/404.jpg);"></div>
    <div class="tw-element tw-heading">
        <h4 class="tw-sub-title">Sorry, that page couldn't be found</h4>
        <h2>404</h2>
        <p class="uk-margin-large-left uk-margin-large-right">We tried our very best to find the page you were looking for but it's just not there. Maybe you could try one of the links at the top? Or use the button below to go to the home page. Sorry!</p>
        <a href="/" class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover"><span class="tw-hover-inner"><span>Back home</span><i class="ion-arrow-right-c"></i></span></a>
    </div>
</section>
{{ end }}
