{{ define "body" }}

<div class="main-container">
    <section class="uk-section uk-section-large">
        <div class="uk-container uk-container-small">
            <div class="tw-element tw-heading uk-text-center large">
                <h2>little robot is a software development consultancy based in Cambridgeshire.</h2>
                <h3>It is owned and staffed by Stuart, a software developer with years of experience in the eduction and private sectors.</h3>
            </div>
        </div>
    </section>

    <section class="uk-section">
        <div class="uk-container">

            <div class="tw-element tw-heading uk-text-center">
                <h3>I work with&hellip;</h3>
            </div>
            <div class="tw-element uk-child-width-1-3@s uk-grid-medium uk-flex uk-flex-center" data-uk-grid data-uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 300;">

                <div>
                    <div class="tw-element tw-box small-typography layout-2">
                        <i class="ion-briefcase"></i>
                        <h4>Businesses</h4>
                        <p class="description">To develop custom systems and integrations between your existing software, making your staff more productive.</p>
                        <a href="/for-businesses/" class="uk-button uk-button-default uk-button-large uk-button-radius uk-button-dark uk-margin-bottom tw-hover">Learn more</a>
                    </div>
                </div>

                <div>
                    <div class="tw-element tw-box small-typography layout-2">
                        <i class="ion-laptop"></i>
                        <h4>Software teams</h4>
                        <p class="description">To help introduce best practices so that the quality of your software increases, making your customers (and developers) happy.</p>
                        <a href="/for-teams/" class="uk-button uk-button-default uk-button-large uk-button-radius uk-button-dark uk-margin-bottom tw-hover">Learn more</a>
                    </div>
                </div>
        </div>
    </section>

    <section class="uk-section uk-light uk-background-cover" data-overlay="0.9" style="background-color: #151515; background-image: url(assets/demo/cloud.jpg);">
        <div class="uk-container">
            <div class="tw-element tw-clients">
                <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-expand@m uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 400;">
                    <div class="client-item">
                        <a href="/projects/arm/" class="uk-padding-small" title="Project for Arm"><img src="/images/clients/arm.png" alt="Arm" /></a>
                    </div>
                    <div class="client-item">
                        <a href="/projects/time-inc/" class="uk-padding-small" title="Project for Time Inc."><img src="/images/clients/time-inc.png" alt="Time Inc." /></a>
                    </div>
                    <div class="client-item">
                        <a href="/projects/qton-solutions/" class="uk-padding-small" title="Project for Qton Solutions"><img src="/images/clients/qton.png" alt="Qton" /></a>
                    </div>
                    <div class="client-item">
                        <img src="/images/clients/rubber-cheese.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="uk-section uk-padding-remove-vertical uk-light" style="background-color: #222222;">

        <div class="bottom-area">
            <div class="uk-container">
                <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-medium" data-uk-grid data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200;">
                    <div>
                        <div class="widget">
                            <div class="tw-logo">
                                <h3 class="site-name">
                                    <a href="#">Lovely</a>
                                </h3>
                            </div>
                            <p>
                                Duis sed odio sit amet nibh vulputate cursus sit amet mauris morbi accumsan ipsum velit nam nec tellus tincidunt auctor ornare
                                odio sed non consequat auctor.
                            </p>
                            <div class="tw-socials">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-youtube"></i></a>
                                <a href="#"><i class="ion-social-rss"></i></a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="uk-padding-left">
                            <div class="widget widget_recent_entries">
                                <h3 class="widget-title"><span>Popular Posts</span></h3>
                                <ul>
                                    <li>
                                        <a href="#">Suspendisse vulputate diam</a>
                                        <span class="tw-meta">January 22, 2017</span>
                                    </li>
                                    <li>
                                        <a href="#">Facilisis Nulla Elementum</a>
                                        <span class="tw-meta">January 22, 2017</span>
                                    </li>
                                    <li>
                                        <a href="#">Mauris pharetra interdum</a>
                                        <span class="tw-meta">January 22, 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="uk-padding-left">
                            <h3 class="widget-title"><span>Useful Links</span></h3>
                            <ul>
                                <li>
                                    <a href="#">About us</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">News</a>
                                </li>
                                <li>
                                    <a href="#">Testimonails</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="widget tw-contact-widget">
                            <h3 class="widget-title"><span>Contact Info</span></h3>
                            <ul>
                                <li>
                                    <i class="ion-ios-location"></i>
                                    <a href="#">88 Orchard St, New York, NY 111000, United States.</a>
                                </li>
                                <li>
                                    <i class="ion-android-call"></i>
                                    <a href="#">(001) 8686 234 432</a>
                                </li>
                                <li>
                                    <i class="ion-android-mail"></i>
                                    <a href="#">support@themewaves.com</a>
                                </li>
                                <li>
                                    <i class="ion-ios-world-outline"></i>
                                    <a href="#">www.themewaves.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer-area footer-small">
            <div class="uk-container">
                <div class="uk-flex-middle uk-child-width-1-1 uk-child-width-expand@m" data-uk-grid>
                    <div class="copyright">
                        © Copyright 2017 - All Rights Reserved
                    </div>
                    <div class="uk-text-right">
                        <a href="" data-uk-scroll>Back To Top &nbsp;&nbsp;<i class="ion-ios-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>
{{ end }}
