<div class="tw-author">
    <div class="author-box">
        <img alt="" src="/images/portrait-square.jpg" class="avatar" />
        <h3><a href="/about-me/" title="More about Stuart" rel="author">Stuart Chapman</a></h3>
        <span class="tw-meta">Owner and chief coder</span>
        <p>With nearly a decade of professional development experience, I have worked in the educational sector with the University of Cambridge, and with many private sector companies, including 118 118.</p>
    </div>
</div>
