<section class="uk-section uk-section-blog">
    <div class="uk-container">
        <div data-uk-grid>
            <div class="content-area uk-width-expand@m">
                <div class="tw-element tw-blog">
                    {{ range .Data.Pages }}
                    <article class="post">
                        <div class="entry-post">
                            <h2 class="entry-title">{{ .Title }}</h2>
                            <div class="entry-date tw-meta">
                                <span>{{ .Date.Format "2 January 2006" }}</span>
                            </div>
                            <div class="entry-cats tw-meta">
                                {{ $numberOfCategories := len .Params.categories }} {{ range $index, $item := .Params.categories }}
                                <a href="/categories/{{ . | urlize }}/" title="View all posts in {{ . | lower }}">{{ . }}</a>                                {{ if ne (add $index 1) $numberOfCategories }}/{{ end }} {{ end }}
                            </div>
                            <div class="entry-media">
                                <div class="tw-thumbnail">
                                    <img src="/images/blog/main/{{ .Params.image.name }}" alt="{{ .Params.image.alt }}" />
                                </div>
                            </div>
                            <div class="entry-content">
                                <p>{{ .Summary }}</p>
                                <p class="more-link">
                                    <a class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover" href="{{ .RelPermalink }}"><span class="tw-hover-inner"><span>Read more</span><i class="ion-arrow-right-c"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </article>
                    {{ end }}
                </div>

                <!-- <div class="tw-pagination pagination-border">
                        <div class="older">
                            <a href="#" class="uk-button uk-button-default uk-button-small uk-button-radius uk-button-silver tw-hover"><span class="tw-hover-inner"><span>Older Posts</span><i class="ion-ios-arrow-thin-right"></i></span></a>
                        </div>
                    </div> -->
            </div>
            {{ partial "blog/sidebar" . }}
        </div>
    </div>
</section>
