{{ define "body" }}
<section class="uk-section">
    <div class="uk-container">
        <div class="tw-element uk-text-center">
            <h2 class="uk-text-uppercase">How I've previously helped development teams</h2>
        </div>
    </div>
    <div class="uk-container">
        <div class="tw-element uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-expand@m uk-grid-large" data-uk-grid>
            <div>
                <div class="tw-element tw-box uk-text-center uk-padding-small">
                    <i class="ion ion-laptop uk-border-circle layout-2"></i>
                    <h4>Consistent development environment</h4>
                    <h5>Quicker onboarding and fewer bugs</h5>
                    <p class="description uk-text-justify">It can often take a long time for developers to set up their machines when they start a new project (hours
                        or days) and differences between software versions increases the chance of incompatibilities and
                        bugs when code is deployed.</p>
                    <p class="description uk-text-justify">Consistent development environments, using Virtualbox and Docker, remove these problems and ensure everyone
                        is developing against the same software.</p>
                </div>
            </div>
            <div>
                <div class="tw-element tw-box uk-text-center uk-padding-small">
                    <i class="ion ion-upload uk-border-circle layout-2"></i>
                    <h4>Easy, safe deployments</h4>
                    <h5>Release often, and without fear</h5>
                    <p class="description uk-text-justify">A manual deployment process makes it easy for someone to accidentally do something in the wrong order
                        or in a subtly incorrect way.
                    </p>
                    <p class="description uk-text-justify">Automated deployments remove the potential for mistakes — each deployment runs exactly as it should.
                        Continuous Integration allows non-developers to deploy code to agreed environments and allows a focus
                        on the test suite.</p>
                </div>
            </div>
            <div>
                <div class="tw-element tw-box uk-text-center uk-padding-small">
                    <i class="ion ion-bug uk-border-circle layout-2"></i>
                    <h4>Code reviews</h4>
                    <h5>Pick up bugs quickly and increase team knowledge</h5>
                    <p class="description uk-text-justify">Code reviews are a great opportunity for sharing knowledge between developers and help to ensure knowledge-cover
                        in case emergency. They also provide a checkpoint to sanity check new code to pick up bugs or potential
                        future issues.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container">
        {{ partial "contact-cta" . }}
    </div>
</section>
{{ end }}
