{{ define "body" }}
<section class="uk-section">
    <div class="uk-container">
        <div class="tw-element uk-text-center">
            <h2 class="uk-text-uppercase">How I can help your business</h2>
        </div>
    </div>
    <div class="uk-container">
        <div class="tw-element uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-expand@m uk-grid-large">
            <div>
                <div class="tw-element tw-box uk-text-center uk-padding-small">
                    <i class="ion ion-document-text uk-border-circle layout-2"></i>
                    <h4>Replace fragile spreadsheets</h4>
                    <h5>Ensure your data is consistent</h5>
                    <p class="description uk-text-justify">Spreadsheets are a great way to start sharing data and make an offline process more streamlined but it's
                        easy for copies to be made and inconsistencies to creep in.</p>
                    <p class="description uk-text-justify">Custom systems ensure there is one source of truth and that the business rules are always enforced.</p>
                </div>
            </div>
            <div>
                <div class="tw-element tw-box uk-text-center uk-padding-small">
                    <i class="ion ion-information uk-border-circle layout-2"></i>
                    <h4>Make better business decisions</h4>
                    <h5>Use your data to drive your business</h5>
                    <p class="description uk-text-justify">Once in a structured format, reports allow staff to use the consistent and up-to-date information in
                        systems to make business decisions with the confidence that they are seeing the complete and accurate
                        picture.
                    </p>
                </div>
            </div>
            <div>
                <div class="tw-element tw-box uk-text-center uk-padding-small">
                    <i class="ion ion-earth uk-border-circle layout-2"></i>
                    <h4>Keep in touch, wherever your staff are</h4>
                    <h5>Available wherever you have a web browser and an Internet connection</h5>
                    <p class="description uk-text-justify">Web-based business systems allow your staff to access them wherever they may be — just load your web
                        browser and it's like being in the office.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container">
        {{ partial "contact-cta" . }}
    </div>
</section>
{{ end }}
